<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Happy Paws Veterinary Services</h5>
      <h6 class="card-subtitle mb-2 text-muted">Heal and Feel Better </h6>
      <p class="card-text">Veterinary Medical Consultation and Patient Advocacy</p>
      <a href="https://www.happypawsvet.com/about-me-veterinarian" 
      class="card-link">About Me</a>
      <a href="https://www.happypawsvet.com/services" class="card-link">
        services</a>
    </div>
  </div>